.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: blue;
}

.search-panel {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    width: 40%;
    padding: 10px;
    border-radius: 0.25rem;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

img {
    border-radius: 50%;
    object-fit: cover;
 }

.btn-group {
    display: flex;
    align-items: center ;
    gap: 20px;
 }

button {
    border: none;
    font-size: 25px;
    background-color: transparent;
 }